@import url("index-styles.css");

.success-landing .close-popup {
  top: 2rem;
  left: 10%;
  width: 2.4rem;
  height: 2.4rem;
}

.close-popup img {
  width: 60%
}

.success-landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 76%;
}

.success-landing img {
  width: 40%;
  max-width: 200px;
  height: auto;
}

.billions {
  max-width: 400px;
  padding: 0 1rem;
}

.success-landing h1 {
  font-family: 'Klein-Black', sans-serif;
  font-size: 2.5rem;
  margin-top: 2rem;
  color: var(--text-accent);
}

.success-landing p {
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 0 0;
}

.success-landing .start-btn {
  background: var(--index-btn);
  color: #fdf8db;
  border: 3px solid var(--index-btn);
  width: calc(100% - 5rem);
  max-width: 367px;
  position: fixed;
  bottom: 6.4rem;
  padding: 0.7rem 0;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 2rem;
  cursor: pointer;
}

#get-app {
  bottom: 2.3rem;
  background: var(--shadow-lg);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  color: var(--index-btn);
  font-weight: 700;
}

@media (max-height: 500px) {
  .success-landing img {
      max-width: 160px;
  }
  
  .success-landing {
    flex-direction: row;
    max-width: 450px;
    margin: 0 auto;
    padding: 0 1rem;
  }
}

@media (max-width: 300px) {
  .billions {
    display: none;
  }
  .success-landing img {
    width: 50%;
    max-width: 240px;
    height: auto;
  }

}
